body {
    background-color: black;

}

.info {
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    background-color: rgb(37, 37, 37);


}

.header-section {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 64, 64);
    height: 60px;

}

.header-section h2 {
    color: yellow;
}

.about p {
    color: blueviolet;
}

.button a {
    text-decoration: none;
    color: yellow;
    font-size: 15px;
    font-weight: bolder;
}

.contact {
    color: yellow;
}

.header-section ul li {
    padding: 30px;
    list-style: none;
    display: inline;
    text-align: center;

}

.header-section ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-section a:hover {
    color: red;
}

.header-section button {
    background-color: transparent;
    font-size: 15px;
    height: 40px;
    width: 140px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 20);
}

#main-section {
    height: 50vh;
    background-image: url(images/amr-taha-oe3rCeCDnd8-unsplash.jpg);
    background-position-y: centre;
    background-image: linear-gradient(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#main-section h3 {
    color: white;
    font-size: 60px;
    padding: 20px 20px;
    font-weight: lighter;
    font-family: "Oleo Script", system-ui;
    ;
    /* font-weight: 700px; */
    font-style: normal;
}

#main-section h2 {
    color: white;
    font-size: 40px;
    font-weight: lighter;
    padding: 20px 20px;
}

#main-section button a {
    color: yellowgreen;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#main-section a :hover {
    color: yellow;
}

#main-section button {
    width: 120px;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 20);
    background-color: transparent;
}

.name {

    color: yellowgreen;
    font-weight: bolder;
    /* font-family: "Changa One", sans-serif; */
    font-family: "Oleo Script", system-ui;
    ;
    font-weight: 400;
    font-style: normal;
}

.changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ham {
    display: none;
}

.about {
    display: flex;
    align-items: center;

}

.article-section {
    height: 60vh;
    background-image: url(images/amr-taha-fjXsByIP_pU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-size: 60px;
    font-style: normal;
    color: violet;
}

.article-section p {
    font-family: "Oleo Script", system-ui;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    line-height: 1.5;
    width: 50%;
    font-style: italic;
    color: whitesmoke;
    margin-left: 60px;
}

.article-section img {
    margin-top: 20px;
    height: 500px;
    width: 500px;
    /* border-radius: 10rem; */
    padding-left: 80px;
}

section {
    background-image: url(images/gcp-visuals-hzdcs6glyyY-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    font-family: "Oleo Script", system-ui;
    font-weight: 700px;
    font-style: normal;
}

.article-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
}

.article-content div {
    border: 2px solid;
    border-color: yellowgreen;
    width: 400px;
    height: 200px;
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.article-content p {
    padding: 10px;
    color: white;
    font-family: "Oleo Script", system-ui;
    font-weight: 900px;
    font-style: normal;
}

.article-content h3 {
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
}

.nav-session {
    text-align: center;
    background-image: url(images/gcp-visuals-hzdcs6glyyY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;

}

.container {
    display: flex;
    margin-right: 33rem;

}

.container-section h1 {
    text-align: center;
    margin-top: 40px;
    color: yellowgreen;
}

.latest img {
    width: 400px;
    height: 300px;
    /* margin-left: 2rem;
    margin-top: 4rem; */
}

.latest {
    border: 2px solid;
    border-color: yellow;
    margin: 20px;
    /* margin-left: -50px; */
    /* margin-bottom: 7rem; */
    cursor: pointer;


}

.latest:hover {
    scale: 1;
}

.latest button {
    width: 8rem;
    height: 2rem;
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 20);
    background-color: transparent;
}

.latest button a {
    text-decoration: none;
    color: yellowgreen;
}

.latest h3 {
    font-weight: lighter;
    font-size: 20px;
    margin: 20px;
    color: white;
    text-align: center;
}

.latest p {
    font-size: 20px;
    font-weight: lighter;
    color: wheat;
    text-align: center;
    width: 90%;
    margin-left: 20px;
    margin-top: -10px;
}

.nav-session input {
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin: 20px;
    width: 25%;
    height: 50px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 20);
}

.nav-session input text {
    color: white;
    text-align: center;
}

.nav-session ::placeholder {
    color: white;
}

.nav-session textarea {
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding-bottom: 3%;
    width: 30%;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 20);
}

.nav-session p {
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 50px;
    padding-top: 20px;
}

input {
    text-align: center;
    color: wheat;
}

.culture {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    background-image: url(images/gcp-visuals-hzdcs6glyyY-unsplash.jpg);
    padding-top: 40px;
    padding-left: 40px;
    gap: 12%;
    height: 50vh;

    animation: lanre;
    animation-play-state: running;
    animation-iteration-count: initial;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 10s;


}

@keyframes lanr {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
}

@keyframes myScale {
    50% {
        transform: scale(0.5, 0.5);
    }
}

footer .address h1 {
    margin-top: 60px;
    font-size: 30px;
    color: yellowgreen;
    font-weight: lighter;
    text-align: center;

}

footer .address h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

footer .address h3 {
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: lighter;
}

footer .address p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    line-height: 1.5;
    font-family: Georgia;
    color: goldenrod;
}

@media only screen and (max-width:850px) {
    .header-section {
        flex-direction: column;
    }

    .header-section ul li {
        display: none;
    }

    .header-section h2 {
        margin-left: -14rem;
    }

    .button {
        margin-top: -80px;
        margin-left: 150px;
    }

    .button li a {
        font-size: 12px;
    }

    .button .ham {
        width: 50px;
        height: 50px;
        display: flex;
        margin-left: 170px;
        margin-top: -45px;
    }

    .info {
        color: whitesmoke;
        font-size: 20px;
        font-style: italic;
        background-color: rgb(37, 37, 37);

    }

    .about {
        flex-direction: column;
    }

    .about p {
        width: 100%;

    }

    .about img {
        width: 400px;
        height: 400px;

    }
    section img {
        display: none;
    }

    #main-section h3 {
        color: wheat;
        font-weight: bolder;
        font-size: 35px;
        margin-top: -30px;
    }

    #main-section .name {
        font-size: 40px;
    }

    #main-section .couple {
        margin-left: rem;
    }

    .article-section {
        margin-top: 3rem;
    }

    .article-section p {
        width: 90%;
        color: white;
        font-size: 17px;
        /* font-weight: bold; */
        margin-left: -1rem;
    }
    .article-section img {
        height: 300px;
        width: 400px;
        margin-left: -4rem;
        /* margin-bottom: 6rem; */
    
    }
    #report {
        margin-top: 16rem;
        color: yellowgreen;
        text-align: center;
    }

    #title {
        font-size: 30px;

    }

    .article-content {
        display: contents;
    
    }

    .article-content div {
        width: 380px;
    }

    .container {
        flex-direction: column;
    }

    .latest img {
        width: 325px;
        height: 250px;
        margin-left: -1px;
        
    }
    .latest button {
        margin-left: 7rem;
    }

    .latest:hover {
        scale: 1;
    }

    .nav-session input {
        width: 80%;
    }

    .nav-session textarea {
        width: 80%;
    }

    .culture {
        margin-top: 30px;
        height: 40px;
    }
    .address h2 {
        color: whitesmoke;
    }



}